[user]
	name = Vishnu_MnM
	email = sunny_4210@proton.me
	signingkey = /home/sunny/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgSign = true
[url "git@github.com:"]
	insteadOf = https://github.com
[push]
	autoSetupRemote = true
